In [1]:
import pandas as pd
import numpy as np

In [14]:

returns = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv', 
            header = 0, index_col = 0, parse_dates = True, na_values = -99.99)

cols = ['Lo 20', 'Hi 20']
returns = returns[cols]
returns.head()

        Lo 20  Hi 20
192607  -0.57   3.33
192608   3.84   2.33
192609  -0.48  -0.09
192610  -3.29  -2.95
192611  -0.55   3.16

In [15]:
returns = returns / 100

In [17]:


n_months = returns.shape[0]
annualized_returns = ((returns + 1).prod()) ** (12 / n_months) - 1 
annualized_returns.round(4)

Lo 20    0.1520
Hi 20    0.0985
dtype: float64

In [17]:
annualized_vol = returns.std() * np.sqrt(12)
annualized_vol.round(4)

Lo 20    0.3367
Hi 20    0.1951
dtype: float64

In [18]:
returns.index = pd.to_datetime(returns.index, format = '%Y%m')
returns.index = returns.index.to_period('M')
returns.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

In [19]:
rets_1999_2015 = returns['1999':'2015']

In [23]:
n_months = rets_1999_2015.shape[0]
n_months

204

In [24]:
annualized_returns = (rets_1999_2015 + 1).prod() ** (12 / n_months) - 1
annualized_returns.round(4)

Lo 20    0.1144
Hi 20    0.0629
dtype: float64

In [25]:
annualized_vol = rets_1999_2015.std() * np.sqrt(12)
annualized_vol.round(4)

Lo 20    0.2289
Hi 20    0.1727
dtype: float64

**Max Drawdown**

In [26]:
wealth_index = 1000 * (1 + rets_1999_2015).cumprod()
wealth_index.head()

               Lo 20        Hi 20
1999-01  1111.400000  1015.300000
1999-02  1067.055140   997.836840
1999-03  1034.189842  1034.557236
1999-04  1119.407085  1104.803672
1999-05  1168.101293  1099.500614

In [27]:
previous_peaks = wealth_index.cummax()
drawdown = (wealth_index - previous_peaks) / previous_peaks

In [28]:
-(drawdown.min().round(4))

Lo 20    0.6248
Hi 20    0.5527
dtype: float64

In [29]:
drawdown.idxmin()

Lo 20    2009-02
Hi 20    2009-02
dtype: period[M]

In [39]:
hfi = pd.read_csv('data/edhec-hedgefundindices.csv', header = 0, index_col = 0, 
    na_values = -99.99, parse_dates = True)

hfi = hfi / 100
hfi.index = hfi.index.to_period('M')

C:\Users\Jujop\AppData\Local\Temp\ipykernel_6184\4092758014.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  hfi = pd.read_csv('data/edhec-hedgefundindices.csv', header = 0, index_col = 0,

In [42]:
hfi_2009 = hfi['2009':]
hfi_2009.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [43]:
import edhec_risk_kit as erk

In [44]:
erk.semideviation(hfi_2009).sort_values(ascending = False)

Short Selling             0.021240
Emerging Markets          0.015276
Long/Short Equity         0.012139
CTA Global                0.010996
Event Driven              0.010135
Distressed Securities     0.009498
Funds Of Funds            0.007948
Convertible Arbitrage     0.006681
Relative Value            0.005711
Equity Market Neutral     0.005186
Global Macro              0.005075
Merger Arbitrage          0.003611
Fixed Income Arbitrage    0.003321
dtype: float64

In [45]:
erk.skewness(hfi_2009).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [46]:
hfi_2000 = hfi['2000':]

In [47]:
erk.kurtosis(hfi_2000).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64